discovery.zen.ping.unicast.hosts: [ "{% for host in groups['nodes'] %}{{ hostvars[host]['ansible_facts']['default_ipv4']['address'] }}", {% endfor %}]
discovery.zen.ping.unicast.hosts: [{% for i in groups['nodes'] %}"{{ hostvars[i]['ansible_facts']['default_ipv4']['address'] }}"{% if loop.index < (groups['nodes']|length) %},{% endif %}{% endfor %}]


